#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <5>;
    scroll-layers = <6>;
};

&mkp_input_listener { input-processors = <&zip_temp_layer 5 250>; };

/ {
    combos {
        compatible = "zmk,combos";

        res {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <0 35 2 7 9 32>;
        };
    };

    behaviors {
        encoder_msc_up_down: encoder_msc_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_UP_DOWN";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        st: scroll_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Scroll / Tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-while-undecided;
        };

        semi: semi {
            compatible = "zmk,behavior-mod-morph";
            label = "SEMI";
            bindings = <&kp SEMI>, <&kp SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        minus: minus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS";
            bindings = <&kp KP_MINUS>, <&kp LS(INT_YEN)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        equel: equel {
            compatible = "zmk,behavior-mod-morph";
            label = "EQUEL";
            bindings = <&kp LS(MINUS)>, <&kp LS(SEMI)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        singleq: singleq {
            compatible = "zmk,behavior-mod-morph";
            label = "SINGLEQ";
            bindings = <&kp LS(LBKT)>, <&kp LS(EQUAL)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        jis0: jis0 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS0";
            bindings = <&kp N0>, <&kp LS(N9)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        jis2: jis2 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS2";
            bindings = <&kp N2>, <&kp LBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        jis6: jis6 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS6";
            bindings = <&kp N6>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        jis7: jis7 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS7";
            bindings = <&kp N7>, <&kp LS(N6)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        jis8: jis8 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS8";
            bindings = <&kp N8>, <&kp LS(SINGLE_QUOTE)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        jis9: jis9 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS9";
            bindings = <&kp N9>, <&kp LS(N8)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        mac_setup: osx_setup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &tog 2>;
            label = "OSX_SETUP";
        };

        win_setup: win_setup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &tog 1>;
            label = "WIN_SETUP";
        };

        syayou: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &tog 1>;
            label = "NEW_MACRO";
        };

        ipad: ipad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &tog 2>;
            label = "IPAD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer_win {
            bindings = <
&kp Q           &kp W         &kp E             &kp R                    &kp T                                               &kp Y        &kp U  &st 6 I    &kp O    &kp P
&kp A           &kp S         &kp D             &kp F                    &kp G        &mkp MCLK               &kp SEMICOLON  &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z           &kp X         &kp C             &kp V                    &lt 8 B      &lt 7 LS(KP_ENTER)      &kp SLASH      &kp N        &kp M  &kp COMMA  &kp DOT  &kp EQUAL
&kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_CONTROL  &mt LEFT_GUI LANGUAGE_2  &lt 5 SPACE  &kp TAB                 &kp BACKSPACE  &lt 3 ENTER                             &kp LG(LS(S))
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        default_layer_winjis {
            bindings = <
&kp Q           &kp W         &kp E             &kp R                    &kp T                                               &kp Y        &kp U  &st 6 I    &kp O    &kp P
&kp A           &kp S         &kp D             &kp F                    &kp G        &mkp MCLK               &semi          &kp H        &kp J  &kp K      &kp L    &minus
&kp Z           &kp X         &kp C             &kp V                    &lt 8 B      &lt 7 LS(KP_ENTER)      &kp INT_YEN    &kp N        &kp M  &kp COMMA  &kp DOT  &equel
&kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_CONTROL  &mt LEFT_GUI LANGUAGE_2  &lt 5 SPACE  &kp TAB                 &kp BACKSPACE  &lt 4 ENTER                             &kp LG(LS(S))
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        default_layer_mac {
            bindings = <
&kp Q           &kp W         &kp E             &kp R                    &kp T                                               &kp Y        &kp U  &st 6 I    &kp O    &kp P
&mt LCTRL A     &kp S         &kp D             &kp F                    &kp G        &mkp MCLK               &kp SEMICOLON  &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z           &kp X         &kp C             &kp V                    &lt 8 B      &lt 7 LS(KP_ENTER)      &kp SLASH      &kp N        &kp M  &kp COMMA  &kp DOT  &kp EQUAL
&kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_CONTROL  &mt LEFT_GUI LANGUAGE_2  &lt 5 SPACE  &kp TAB                 &kp BACKSPACE  &lt 3 ENTER                             &kp LG(LS(N5))
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        number {
            bindings = <
&kp SQT        &kp N7        &kp N8        &kp N9          &kp LEFT_PARENTHESIS                      &kp RIGHT_PARENTHESIS  &none               &none               &none                &trans
&kp GRAVE      &kp NUMBER_4  &kp N5        &kp NUMBER_6    &kp LEFT_BRACKET      &none       &trans  &kp RIGHT_BRACKET      &none               &kp LS(UP_ARROW)    &none                &trans
&kp BACKSLASH  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp LEFT_BRACE        &none       &trans  &kp RIGHT_BRACE        &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &trans
&trans         &kp N0        &trans        &kp LANGUAGE_1  &trans                &trans      &trans  &trans                                                                              &trans
            >;
        };

        numberjis {
            bindings = <
&singleq  &jis7         &jis8   &jis9           &kp LS(N8)                           &kp LPAR      &none               &none               &none                &trans
&singleq  &kp NUMBER_4  &kp N5  &jis6           &kp RBKT         &none       &trans  &kp BSLH      &none               &kp LS(UP_ARROW)    &none                &trans
&kp INT3  &kp NUMBER_1  &jis2   &kp NUMBER_3    &kp RIGHT_BRACE  &none       &trans  &kp LS(BSLH)  &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &trans
&trans    &jis0         &trans  &kp LANGUAGE_1  &trans           &trans      &trans  &trans                                                                     &trans
            >;
        };

        cursor {
            bindings = <
&kp ESCAPE  &trans              &trans            &trans         &trans                            &trans  &trans     &mkp MCLK       &trans     &kp F12
&trans      &trans              &kp LC(UP_ARROW)  &trans         &trans  &trans            &trans  &trans  &mkp LCLK  &kp UP_ARROW    &mkp RCLK  &trans
&trans      &kp LC(LEFT_ARROW)  &kp LC(DOWN)      &kp LC(RIGHT)  &trans  &kp CAPSLOCK      &trans  &trans  &kp LEFT   &kp DOWN_ARROW  &kp RIGHT  &trans
&trans      &trans              &trans            &trans         &trans  &trans            &trans  &trans                                        &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        auto_mause_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        trackball_speed {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &win_setup  &mac_setup  &syayou  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans      &trans      &trans   &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans      &trans      &trans   &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                         &trans
            >;
        };
    };
};
